<div id="wrapper">
    <div id="form">
        <div class="line" id="line-1">
            <label><span class="label-7jDrlhI">Input 1:</span> <input type="text"></label>
        </div>
        <div class="line" id="line-2">
            <label><span class="label-7jDrlhI">Input 2:</span> <input type="text"></label>
        </div>
        <div class="line" id="line-3">
            <label><span class="label-7jDrlhI">Input 3:</span> <input type="text"></label>
        </div>
        <button id="cta">
            <span>call to action</span>
        </button>
    </div>
    <div id="mario"></div>
</div>